body {
  box-sizing: border-box;
}

p {
  font-family: "Times New Roman" Times;
  margin: 0;
  padding: 100px;
}

main {
  height: calc(100vh/3.5);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bar {
  height: calc(100vh/7);
  width: 100%;
}

#header {
  background-color: #D8D8D8;
}

#box {
  background-color: #4A90E2;
  float: left;
  height: 80px;
  margin: 16px;
  width: 80px;
}

#three {
  background-color: #4A90E2;
}

#four {
  background-color: #50E3C2;
}

#five {
  background-color: #B8E986;
}

#six {
  background-color: #F8E71C;
}
